<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @review.author_id %>
</p>

<p>
  <strong>Integer:</strong>
  <%= @review.integer %>
</p>

<p>
  <strong>Product:</strong>
  <%= @review.product_id %>
</p>

<p>
  <strong>Stars:</strong>
  <%= @review.stars %>
</p>

<p>
  <strong>Body:</strong>
  <%= @review.body %>
</p>

<%= link_to 'Edit', edit_review_path(@review) %> |
<%= link_to 'Back', reviews_path %>
