<!DOCTYPE html>
<html>
  <head>
    <title>Betzy</title>
    <link href='https://fonts.googleapis.com/css?family=Abel' rel='stylesheet' type='text/css'>
    <script src="https://use.fontawesome.com/releases/v5.11.2/js/all.js">
    </script>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <script type="text/javascript">
      window.darkMode = false
      window.pagePics = { 
        banners: [],
        placeholders: { store_logo: null, user_profile_pic: null },
        logo: null,
      };
      window.pagePics.banners.push('<%= image_url('seeds/banner/banner_1.jpg') %>');
      window.pagePics.banners.push('<%= image_url('seeds/banner/banner_2.jpg') %>');
      window.pagePics.banners.push('<%= image_url('seeds/banner/banner_3.jpg') %>');
      window.pagePics.banners.push('<%= image_url('seeds/banner/banner_4.jpg') %>');

      window.pagePics.placeholders.store_logo = '<%= image_url('seeds/placeholder/ph_store_logo.png') %>';
      window.pagePics.placeholders.user_profile_pic = '<%= image_url('seeds/placeholder/ph_profile_pic.jpg') %>';
    </script>
  </head>

  <body id="main-body">
    <%= yield %>
  </body>
</html>
